<% content_for :head do %>
  <%= javascript_include_tag '/states' %>
  <%= javascript_include_tag '/countries' %>
<% end %>

<%= form_for @order, :url => update_checkout_path('payment'), :html => { :id => "checkout_form_address" } do |form| %>
  <div class="columns alpha eight" data-hook="billing_fieldset_wrapper">
    <fieldset id="billing" data-hook>
      <legend align="center"><%= t(:billing_address) %></legend>
      <% unless user_signed_in? %>
        <%= form.label :email %><br />
        <%= form.text_field :email %>
      <% end %>
      <%= form.fields_for :bill_address do |bill_form| %>
        <%= render :partial => 'spree/address/form', :locals => {:form => bill_form, :address_type => 'billing', :address => @order.bill_address} %>
      <% end %>
    </fieldset>
  </div>

  <div class="columns omega eight" data-hook="shipping_fieldset_wrapper">
    <fieldset id="shipping" data-hook>
      <%= form.fields_for :ship_address do |ship_form| %>
        <legend align="center"><%= t(:shipping_address) %></legend>
        <p class="field checkbox" data-hook="use_billing">
          <%= check_box_tag 'order[use_billing]', '1', ((@order.bill_address.empty? && @order.ship_address.empty?) || @order.bill_address.same_as?(@order.ship_address)) %>
          <%= label_tag :order_use_billing, t(:use_billing_address), :id => 'use_billing' %>
        </p>
        <%= render :partial => 'spree/address/form', :locals => {:form => ship_form, :address_type => 'shipping', :address => @order.ship_address} %>
      <% end %>
    </fieldset>
  </div>

  <div class='columns eight omega' data-hook='delivery_fieldset_wrapper' id="shipping_method_wrapper" >
    <fieldset id='shipping_method' class='clear-checkout variant-info' "data-hook"="" data-order="<%= @order.id %>" data-not-delivery="<%= t(:without_delivery) %>" data-url="<%= available_shipping_methods_url %>">
      <legend align="center"><%= t(:shipping_method) %></legend>
      <div id='methods'>
        <p class='field radios'>
        </p>
      </div>
      <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
        <p id='minstrs' "data-hook"="">
          <%= form.label :special_instructions, t(:shipping_instructions) %>
          <br>
          <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      <% end %>
      <center><button class="btn" id="check-shipping-methods"><%= t(:check_shipping_methods) %></button></center>
    </fieldset>
  </div>

  <div class='omega eight columns'>
    <fieldset id="payment" class="variant-info" "data-hook"="">
      <legend align="center"><%= t(:payment_information) %></legend>
      <div "data-hook"="checkout_payment_step">
        <% @order.available_payment_methods.each do |method| %>
          <p>
            <label>
              <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
              <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
            </label>
          </p>
        <% end %>
        <ul id="payment-methods" "data-hook"="">
          <% @order.available_payment_methods.each do |method| %>
            <li class='last' "data-hook"="" id="payment_method_<%=method.id%>">
              <fieldset>
                <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
              </fieldset>
            </li>
          <% end %>
        </ul>
        <br style="clear:both;">
        <div "data-hook"=""></div>
      </div>
    </fieldset>
  </div>

  <br class="space" />
  <div class="form-buttons" "data-hook"="buttons">
    <%= submit_tag t(:checkout), :class => 'btn one-page-checkout-button', 'data-hook' => 'one_page_checout_button' %>
  </div>
<% end %>
